.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.open {
  display: flex;
}

.modal-contenedor {
  position: relative;
  padding: 1rem;
  width: 45%;
  height: 350px;
  overflow-y: auto;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.modal-cerrar {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
